span.ignore-topic {
    margin-right: 30px;
}

span.ignore-topic > a {
    color: #999;
    cursor: pointer;
}

ul.toolbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d2d2d2;
    width: 200px;
}

ul.sticky {
    position: fixed;
    top: 0;
}


li.toolbar-item > a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px;
    cursor: pointer;
}

li.ignored {
    background-color: #f2f2f2;
}

li.page-break {
    text-align: center;
    padding-bottom: 2px;
    font-weight: bold;
}

li.page-loading {
    text-align: center;
}